<div class="admin-home">
  <h1>
    The Sharing Craftsman Admin
  </h1>
  <div class="link-list">
    <ul>
      <li>
        <a routerLink="/admin-authorizations">
          <span>Autorisations</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin-users">
          <span>Utilisateurs</span>
        </a>
      </li>
      <li>
        <a routerLink="/admin-user-authorizations">
          <span>Autorisations utilisateurs</span>
        </a>
      </li>
    </ul>
  </div>
</div>