.category {
  margin-bottom: 50px;

  h3 {
    color: #ec008c;
    text-transform: uppercase;
  }

  .wrapper {
    border: 1px solid #000000;
    padding: 6px 0 5px;
    text-align: left;

    .comments-action {
      font-size: 0.8em;
      float: right;

      button {
        background-color: #ec008c;
        border: none;
        color: #FFFFFF;
        float: right;
        margin-left: 10px;
        margin-right: 10px;
  
        &:hover {
          cursor: pointer;
          background-color: #c70d7c;
        }
      }
    }
  
    .category-score {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      font-size: 0.8em;
      text-align: left;
      margin-left: 10px;

      .category-score-list {
        list-style: none;
        position: absolute;
        right: 0;
        background-color: #ebe8eb;
        padding: 5px;
        -webkit-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        -moz-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        display: none;
      }

      &:hover {
        .category-score-list {
          display: block;
        }
      }
    }

    .actions {
      float: right;
      position: relative;

      .actions-menu-button {
        border: none;
        background-color: transparent;
        margin-top: -2px;
        
        svg {
          width: 20px;
          height: 20px;
        }
        
        &:hover {
          cursor: pointer;

          svg {
            fill: #ec008c;
          }
        }

        &:focus {
          outline: 0;
        }
      }

      .actions-menu {
        float: none;
        z-index: 8888;
        list-style: none;
        position: absolute;
        right: 0;
        background-color: #ebe8eb;
        padding: 5px;
        -webkit-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        -moz-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        width: 150px;

        button {
          display: block;
          border: none;
          background-color: transparent;
          
          svg {
            width: 20px;
            height: 20px;
          }
          
          &:hover {
            cursor: pointer;
            color: #ec008c;

            svg {
              fill: #ec008c;
            }
          }

          .svg, .label {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
  
  .comment-list {
    list-style: none;
    background-color: #f3f3f3;
    text-align: left;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    padding: 10px;
    margin-top: 5px;
  }
}