.knowledge {
  border: 1px solid #000000;
  margin: 10px 0;
  padding-bottom: 10px;
  webkit-box-shadow: 5px 5px 8px -1px rgba(179,175,179,1);
  -moz-box-shadow: 5px 5px 8px -1px rgba(179,175,179,1);
  box-shadow: 5px 5px 8px -1px rgba(179,175,179,1);

  .knowledge-header {
    background-color: #f7f7f7;
    padding: 5px 10px;
    
    .knowledge-title {
      font-size: 1.2em;
      font-weight: bold;
      text-align: left;
      display: inline-block;
      vertical-align: top;
      width: 67%;
    }

    .knowledge-score {
      display: inline-block;
      vertical-align: top;
      width: 29%;
      position: relative;
      font-size: 0.8em;
      text-align: right;

      .knowledge-score-list {
        list-style: none;
        position: absolute;
        right: 0;
        background-color: #ebe8eb;
        padding: 5px;
        -webkit-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        -moz-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        display: none;
      }

      &:hover {
        .knowledge-score-list {
          display: block;
        }
      }
    }

    .actions {
      display: inline-block;
      vertical-align: top;
      width: 1%;
      position: relative;

      .actions-menu-button {
        border: none;
        background-color: transparent;
        margin-top: -2px;
        
        svg {
          width: 20px;
          height: 20px;
        }
        
        &:hover {
          cursor: pointer;

          svg {
            fill: #ec008c;
          }
        }

        &:focus {
          outline: 0;
        }
      }

      .actions-menu {
        float: none;
        z-index: 8888;
        list-style: none;
        position: absolute;
        right: 0;
        background-color: #ebe8eb;
        padding: 5px;
        -webkit-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        -moz-box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        box-shadow: 6px 6px 8px -1px rgba(194,194,194,1);
        width: 150px;

        button {
          display: block;
          border: none;
          background-color: transparent;
          
          svg {
            width: 20px;
            height: 20px;
          }
          
          &:hover {
            cursor: pointer;
            color: #ec008c;

            svg {
              fill: #ec008c;
            }
          }

          .svg, .label {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .knowledge-content {
    text-align: left;
    padding: 10px;
  }

  .comments {
    text-align: left;
    font-size: 0.8em;
    padding: 20px 10px 0;

    button {
      background-color: #ec008c;
      border: none;
      color: #FFFFFF;
      float: right;

      &:hover {
        cursor: pointer;
        background-color: #c70d7c;
      }
    }
    
    .comment-list {
      margin: 0;
      padding: 0;
      margin-top: 5px;
      list-style: none;
    }
  }
}