.admin-user-authorizatons {
  padding-top: 60px;
  text-align: center;
  width: 80%;
  margin: auto;

  h1 {
    margin-bottom: 20px;
    line-height: 1;
    display: inline-block;
    padding: 10px;
    background: #FFD600;
    color: #ffffff;
    border: 4px solid #ffffff;
    background-color: #ec008c;
    box-shadow: 0px 0px 0px 3px #ec008c;
    text-transform: uppercase;
  }
}