<nav>
  <div id="menu-actions">
    <button (click)="toggleState()">Menu</button>
  </div>
  <div id="menu-wrapper" [@menuState]="state">
    <button class="menu-button" (click)="toggleState()">
      <i class="material-icons">keyboard_arrow_left</i>
    </button>
    <ul>
      <li>
        <a routerLink="/" (click)="close()">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a routerLink="/library" (click)="close()">
          <span>Knowledge Library</span>
        </a>
      </li>
      <li>
        <hr>
      </li>
      <li>
        <a routerLink="/register" (click)="close()">
          <span>Register</span>
        </a>
      </li>
      <li>
        <a routerLink="/login" (click)="close()">
          <span>Connexion</span>
        </a>
      </li>
      <li>
        <a routerLink="/change-password" (click)="close()">
          <span>Changer de mot de passe</span>
        </a>
      </li>
      <li>
        <button (click)="disconnect()" (click)="close()">
          <span>Disconnect</span>
        </button>
      </li>
    </ul>
  </div>
</nav>